<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% include ../common/link.ejs %>
</head>
<body style="margin-top:0px;height: 100%">
<div class="layui-row layui-col-space15" style="height: 100%">
    <div class="layui-col-md6 fly-home-jie" style="height: 100%">
        <div class="fly-panel" style="height: 100%">
            <h3 class="fly-panel-title"><%= session.username %> 的头像</h3>
            <div class="layui-upload" style="padding: 5px 20px;">
                <div class="layui-upload-list ">
                    <img id="avatar" src="<%= session.pic %>" style="height: 200px;width: 200px;">
                    <br/>
                    <p id="avatarText"></p>
                </div>
                <br/>
                <button type="button" class="layui-btn" id="test1">上传头像</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/user/avatar/<%= session.uid %>'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#avatar').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                console.log(res);
                if (res.status == 0) {
                    return layer.alert('上传头像失败');
                } else {
                    $('#perAvatar', window.parent.document).attr("src",res.session.pic);
                    $('#headerAvatar', window.parent.document).attr("src",res.session.pic);
                    return layer.alert('上传头像成功');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#avatarText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });
</script>
