<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% include ../common/link.ejs %>
</head>
<body style="margin-top:0px;height: 100%">
    <div class="layui-row layui-col-space15" style="height: 100%">
        <div class="layui-col-md6 fly-home-jie" style="height: 100%">
            <div class="fly-panel" style="height: 100%">
                <h3 class="fly-panel-title">主题管理</h3>

                <div class="layui-fluid" style="padding: 0px">
                    <div class="layui-card">
                        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list" style="padding-top: 10px;padding-bottom: 10px;">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">主题</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="topicType" name="topicType" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">说明</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="remark" name="remark" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn layuiadmin-btn-list" lay-submit="" id="search" lay-filter="LAY-app-contlist-search">
                                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="layui-card-body">
                            <div style="padding-bottom: 5px;">
                                <button id="delete" class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
                                <button id="add" class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
                                <button id="edit" class="layui-btn layuiadmin-btn-list" data-type="edit">编辑</button>
                            </div>
                            <table id="topicTypeTable" lay-filter="topicTypeTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script>

    layui.use(['form', 'table'], function(){
        var table = layui.table,
            util = layui.util,
            form = layui.form;

        //第一个实例
        let tableReload = table.render({
            elem: '#topicTypeTable'
            ,height: 550
            ,url: '/tp/tableTopicType/' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field:'id',checkbox:true, fixed: 'left'}
                ,{field: 'type', title: '主题', width:200, sort: true, fixed: 'left'}
                ,{field: 'remark', title: '说明'}
            ]]
            ,parseData: function(res) { //res 即为原始返回的数据
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.topicTypeData //解析数据列表
                };
            }
            ,id:'topicTypeTable'
            ,where: {
                topicType: '',
                remark: ''
            }
        });

        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });

        $('#search').on('click', function(){
            let topicType=$("#topicType");
            let remark=$("#remark");
            //执行重载
            tableReload.reload({
                where: {
                    topicType: ''+topicType.val()+''
                    ,remark:''+remark.val()+''
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }

            });
        });

        let topicTypeHtml=''
            +'<div class="layui-row"  id="newTopicType" >'
            +'  <div class="layui-col-md10">'
            +'      <form class="layui-form" action="" lay-filter="topicTypeForm" style="padding-top:20px;">'
            +'          <div class="layui-form-item">'
            +'              <label class="layui-form-label">主题</label>'
            +'              <div class="layui-input-inline">'
            +'                  <input type="hidden" id="id" name="id" >'
            +'                  <input type="text" lay-verify="newType" id="newType" name="newType" placeholder="请输入" autocomplete="off" class="layui-input">'
            +'              </div>'
            +'          </div>'

            +'          <div class="layui-form-item">'
            +'              <label class="layui-form-label">说明</label>'
            +'              <div class="layui-input-inline">'
            +'                  <textarea id="newRemark" name="newRemark" placeholder="请输入" class="layui-textarea"></textarea>'
            +'              </div>'
            +'          </div>'

            +'          <div class="layui-form-item">'
            +'              <div class="layui-input-block">'
            +'                  <button type="button" lay-submit lay-filter="addTopicType" class="layui-btn layui-btn-normal">提交</button>'
            +'              </div>'
            +'          </div>'
            +'      </form>'
            +'  </div>'
            +'</div>';

        $('#add').on('click', function(){
            layer.open({
                title:'添加主题',
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['380px', '320px'], //宽高
                content: topicTypeHtml
            });
            form.render();

        });

        $('#edit').on('click', function(){
            var checkStatus = table.checkStatus('topicTypeTable')
                ,data = checkStatus.data;
            if(!data.length>0){
                return layer.alert('请选择数据!');
            }
            if(data.length>1){
                return layer.alert('请选择一条记录进行编辑!');
            }
            // layer.alert(JSON.stringify(data));
            console.log(data[0])
            layer.open({
                title:'编辑主题',
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['380px', '320px'], //宽高
                content: topicTypeHtml
                ,success:function(){
                    $("#newType").attr("disabled",true);
                    //表单初始赋值
                    form.val('topicTypeForm', {
                        "id":data[0].id
                        ,"newType":data[0].type
                        ,"newRemark":data[0].remark
                    });
                }
            });
            form.render();

        });

        $('#delete').on('click', function(){
            var checkStatus = table.checkStatus('topicTypeTable')
                ,data = checkStatus.data;
            if(!data.length>0){
                return layer.alert('请选择数据!');
            }
            // layer.alert(JSON.stringify(data));
            console.log(data)
            let ids='';
            for(let i=0;i<data.length;i++){
                ids+=data[i].id;
                if(i!=data.length-1){
                    ids+=',';
                }
            }
            let jsondata = {
                "ids":ids
            }
            $.post('/tp/deleteTopicType', jsondata, function (res) {
                if (res.status == 0) {
                    return layer.alert('删除主题失败');
                } else {
                    $('#search').click();
                    return layer.alert('删除主题成功');
                }
            });
        });

        form.verify({
            newType: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!value){
                    return '主题不能为空';
                }
            }
        });

        form.on('submit(addTopicType)', function(data) {
            console.log(JSON.stringify(data.field));
            if(data.field.id){
                $.post('/tp/editTopicType', data.field, function (res) {
                    if (res.status == 0) {
                        return layer.alert('编辑主题失败');
                    } else {
                        layer.closeAll();
                        $('#search').click();
                        return layer.alert('编辑主题成功');
                    }
                });
            }else{
                $.post('/tp/addTopicType', data.field, function (res) {
                    if (res.status == 0) {
                        return layer.alert('添加主题失败');
                    } else {
                        layer.closeAll();
                        $('#search').click();
                        return layer.alert('添加主题成功');
                    }
                });
            }

            return false;
        });

    });
</script>