

<div class="fly-panel fly-link">
    <h3 class="fly-panel-title">热门分类</h3>
    <dl class="fly-panel-main">
        <% if(topicTypes) topicTypes.forEach(function (item, index) { %>
        <dd><a href="/?type=<%= item.type_id %>"><%= item.topic %></a>
        <dd>
        <% }) %>
        <!---->
        <!--<dd><a href="http://layim.layui.com/" target="_blank">Test</a>-->
        <!--<dd>-->
        <!--<dd><a href="http://layer.layui.com/" target="_blank">layer</a>-->
        <!--<dd>-->
        <!--<dd><a href="http://www.layui.com/laydate/" target="_blank">layDate</a>-->
        <!--<dd>-->
        <!--<dd><a href="http://www.bejson.com/" target="_blank">JSON在线工具</a>-->
        <!--<dd>-->
    </dl>
</div>

<div class="fly-panel">
    <div class="fly-panel-title">
        未卖出的广告区域
    </div>
    <div class="fly-panel-main">
        <a href="" target="_blank" class="fly-zanzhu" style="background-color: #393D49;">虚席以待</a>
    </div>
</div>