<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs"><a href="/">首页</a></li>
            <!-- <li><a href="">动态<span class="layui-badge-dot"></span></a></li>
            <li><a href="">公告</a></li> -->

            <!-- 用户登入后显示 -->
            <% if(false && user.id){ %>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/user/">我发表的贴</a></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/user/#collection">我收藏的贴</a>
            </li>
            <% } %>
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i id="search" name="search" class="layui-icon">&#xe615;</i></span>
            <a href="/" id="searchlink" class="layui-this" type="hidden"></a>
            <a href="/topic/add/" class="layui-btn">发表新帖</a>
        </div>

        <div class="layui-hide-sm layui-show-xs-block"
             style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
            <a href="/topic/add/" class="layui-btn">发表新帖</a>
        </div>
    </div>
</div>
<script>

    $("#search").on("click",function(){
        layer.open({
            type: 1
            ,title: false
            ,closeBtn: false
            ,shadeClose: true
            ,maxWidth: 10000
            ,skin: 'fly-layer-search'
            ,content: ['<form action="">'
                ,'<input autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="key">'
                ,'</form>'].join('')
            ,success: function(layero){
                var input = layero.find('input');
                input.focus();

                layero.find('form').submit(function(){
                    var val = input.val();
                    if(val.replace(/\s/g, '') === ''){
                        return false;
                    }
                    input.val(encodeURI(val));
                    // input.val('site:/api/topics?key= '+ input.val());
                    // $("#searchlink").attr("href","/?key=hot");
                    // console.log($("#searchlink").attr("href"))
                    // $("#searchlink").click();
                });
            }
        })
    })


</script>