<div class="fly-panel-title fly-filter">
    <a href="/" class="layui-this">综合</a>
    <span class="fly-mid"></span>
    <a href="/?sort=hot">精华</a>
    <span class="fly-filter-right layui-hide-xs">
            <a href="/" class="layui-this">按最新</a>
            <span class="fly-mid"></span>
            <a href="/?sort=hot">按热议</a>
    </span>
</div>
