<div class="fly-footer">
    <p><a href="/">NodeBBS论坛</a> &copy; <%= new Date().getFullYear() %></p>
    <p>
        <a href="http://www.hznu.edu.cn" target="_blank">HZNU</a>
        <a href="https://github.com/zkingq" target="_blank">获取Github项目</a>
        <a href="mailto:zkqhnfg@gmail.com" target="_blank">联系我</a>
    </p>
</div>