<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" style="line-height:40px;font-size:16px;color:rgba(255,255,255,.7);" href="/">NodeBBS论坛</a>
        <ul class="layui-nav fly-nav-user">
            <% if(session && session.username){ %>
                <li class="layui-nav-item">
                    <a href="/user/<%= session.uid %>">
                        <i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                </li>
                <li class="layui-nav-item">
                    <a class="fly-nav-avatar" href="/user/index">
                        <cite class="layui-hide-xs">
                            <%= session.username %>
                        </cite>
                        <img src="/images/avatar/2.jpg">
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a class="fly-nav-avatar" href="/out">退出登录</a>
                </li>
            <% } else { %>
                <li class="layui-nav-item">
                    <a class="iconfont icon-touxiang layui-hide-xs" href="/user/signin/"></a>
                </li>
                <li class="layui-nav-item">
                    <a href="/user/signin/">登入</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/user/signup/">注册</a>
                </li>
            <% } %>
        </ul>
    </div>
</div>